{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load cmsdata %}
{% load creationdata %}
{% block title %} Payment Challans {% endblock %}
{% block uncompresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/flip-scroll.min.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block heading %}<i class="fa fa-list-ul"></i> Payment Challan {% endblock %}
{% block content %}
	<div class="row">
        <form class="form-horizontal">
            <div class="col-md-6">
            	<div class="form-group">
                    <label for="id_contributor" class="col-sm-4 control-label">Contributor</label>
                    <div class="col-sm-8">
                        {% render_field form.contributor class+="form-control" tabindex="1" %}
                        {{ form.contributor.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_contributor" class="col-md-4 control-label">Payment Status</label>
                    <div class="col-md-8">
                        {% render_field form.status class+="form-control " tabindex="1" %}
                        {{ form.status.errors }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            	<div class="form-group">
                    <label for="id_start_date" class="col-sm-4 control-label">Start Date</label>
                    <div class="col-sm-8">
                        {% render_field form.start_date class+="form-control " tabindex="1" %}
                        {{ form.start_date.errors }}
                    </div>
                </div>
                 <div class="form-group">
                    <label for="id_end_date" class="col-sm-4 control-label">End Date</label>
                    <div class="col-sm-8">
                        {% render_field form.end_date class+="form-control" tabindex="1" %}
                        {{ form.end_date.errors }}
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center" style="margin-bottom:10px;">
            	<input type="submit" value="Filter" class="btn btn-success">
                <a href="?"  class="btn btn-danger">Clear</a>
            </div>
        </form>
    </div>
	<table class="paleblue table table-condensed table-bordered table-hover table-striped ">
		<tr>
			<th>Code</th>
			<th>Tutorials</th>
			<th>Contributor</th>
			<th>Total Amount</th>
			<th>Last Updated</th>
			<th>Challan</th>
			<th>Options</th>
		</tr>
	{% for challan in challans %}
		<tr>
			<td>
				{{ challan.code }}
				<div class="challan-tutorial-detail">
					<ul class="hidden">
						{% for tut in challan.tutorials.all %}
						<li>{{ tut.tutorial_resource.tutorial_detail.tutorial }}
						 - {{ tut.get_duration }}
						 - {{ tut.amount }}
						{% endfor %}
					</ul>
				</div>
			</td>
			<td><a title="click to show details">{{ challan.tutorials.all | length }} Tutorials</a></td>
			<td>
				{{ challan.tutorials.all.0.user.first_name }} {{ challan.tutorials.all.0.user.last_name }}
			</td>
			<td>₹ {{ challan.amount }}</td>
			<td>{{ challan.updated }}</td>
			<td class="text-center"><button class="btn btn-xs btn-link">View</button></td>
			<td class="text-center">
				<form method="POST">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{ challan.id}}">

					{% if challan.status == 1 %}
						<input type="submit" name="change_status" class="btn btn-info btn-xs" value="Mark as Forwarded">
					{% elif challan.status == 2 %}
						<input type="submit" name="change_status" class="btn btn-primary btn-xs" value="Mark as Completed">
					{% elif challan.status == 3 %}
						<span class="text-success">Waiting for Confirmation</span>
					{% else %}
						<span class="text-success">
							Confirmed
							&nbsp;<span class="fa fa-1 fa-check-circle"></span>&nbsp;
						</span>
					{% endif%}
				</form>
			</td>
	{% empty %}
		<tr class="text-center">
			<td colspan="6">No challan generated so far.</td>
		</tr>	
	{% endfor %}
	</table>
{% endblock %}